In [126]:
# 참고주소 : https://blog.naver.com/9145456s/222139975851

In [1]:
# library
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs

# 시도 가져오기

In [45]:
# 시도 url
url = "https://www.starbucks.co.kr/store/getSidoList.do"
url

'https://www.starbucks.co.kr/store/getSidoList.do'

In [36]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36"}
headers

{'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36'}

In [37]:
# post로 받아오기
response = requests.post(url)
response

In [38]:
sido_list = response.json()

In [47]:
sidoList = {}

for sido in sido_list['list']:
#     print(f'{sido["sido_cd"]} : {sido['sido_nm']}')
    # 시도코드에 맞는 시도 이름 가져오기
    sidoList[sido['sido_cd']] = sido['sido_nm']
print(sidoList)

{'01': '서울', '08': '경기', '02': '광주', '03': '대구', '04': '대전', '05': '부산', '06': '울산', '07': '인천', '09': '강원', '10': '경남', '11': '경북', '12': '전남', '13': '전북', '14': '충남', '15': '충북', '16': '제주', '17': '세종'}

# 구군코드 가져오기

In [50]:
# 구군코드 크롤링
sido_cd = input("구군 코드를 확인할 시도 코드를 입력하세요: ")

구군 코드를 확인할 시도 코드를 입력하세요: 01

In [46]:
url2 = "https://www.starbucks.co.kr/store/getGugunList.do"
url2

'https://www.starbucks.co.kr/store/getGugunList.do'

In [56]:
response2 = requests.post(url2, data ={'sido_cd' : sido_cd})
response2

In [128]:
gugun_list = response2.json()

In [55]:
gugunList = {}
for gugun in gugun_list['list']:
    gugunList[gugun['gugun_cd']] = gugun['gugun_nm']
    
print(gugunList)

{'0101': '강남구', '0120': '강동구', '0102': '강북구', '0103': '강서구', '0104': '관악구', '0105': '광진구', '0121': '구로구', '0106': '금천구', '0107': '노원구', '0108': '도봉구', '0122': '동대문구', '0109': '동작구', '0110': '마포구', '0111': '서대문구', '0112': '서초구', '0123': '성동구', '0113': '성북구', '0114': '송파구', '0115': '양천구', '0116': '영등포구', '0124': '용산구', '0117': '은평구', '0118': '종로구', '0119': '중구', '0125': '중랑구'}

# 매장 정보 가져오기

In [ ]:
# 매장 정보 필수 데이터들

# ins_lat: 37.4923615
# ins_lng: 127.02928809999999
# p_sido_cd: 01
# p_gugun_cd: 0101
# in_biz_cd: 
# iend: 100
# set_date:

In [58]:
url3 = "https://www.starbucks.co.kr/store/getStore.do?r=5O9C3DCLNN"

In [68]:
response3 = requests.post(url3, data= {
    
    'ins_lat': '',         # 위도
    'ins_lng': '',         # 경도
    'p_sido_cd': '',       # 시도 코드
    'p_gugun_cd': '',      # 구군 코드
    'in_biz_cd': '',  
    'iend': 2000,          # 서버에서 가져오는 최대 매장의 갯수
    'set_date': ''         
    # in_biz_cd, set_date 를 서버에 넘겨주지 않으면 데이터를 얻어오지 못함.
})

In [129]:
store_list = response3.json()

In [72]:
count = 0
store_name = []
store_address = []
store_lat = []
store_lot = []
# 매장 리스트 가져오기
for store in store_list['list']:
    count += 1
    
    store_name.append(store["s_name"])
    store_address.append(store["doro_address"])
    store_lat.append(store["lat"])
    store_lot.append(store["lot"])
    
    
#     print(f'{store["s_name"]} : {store["doro_address"]}({store["lat"]}, {store["lot"]})')

In [131]:
# pd.concat([store_name, store_address, store_lat, store_lot])

In [119]:
df = pd.DataFrame([store_name, store_address, store_lat, store_lot], index=["지점명", "주소", "위도", "경도"])  #
df = df.T
df

,지점명,주소,위도,경도
0,판교역,"경기도 성남시 분당구 대왕판교로606번길 58, 판교푸르지오월드마크 1층 (삼평동)",37.395911,127.113233
1,수서,서울특별시 강남구 밤고개로1길 10 (수서동) 수서현대벤쳐빌 지하2층,37.48801132,127.1017508
2,송파마천사거리DT,서울특별시 송파구 거마로 78 (마천동),37.499829,127.147672
3,그랜드조선 부산,부산광역시 해운대구 해운대해변로 292 (중동),35.1600338,129.1630512
4,서울웨이브아트센터,서울특별시 서초구 잠원로 145-35 (잠원동),37.518807,127.007040
...,...,...,...,...
1560,수원경수인계DT,경기도 수원시 팔달구 경수대로 499 (인계동),37.270568,127.027566
1561,호계지식산업센터,경기도 안양시 동안구 엘에스로 122 데시앙플렉스 118~123호,37.372351,126.948665
1562,안동이마트,경상북도 안동시 옥동1길 2 (옥동),36.558505,128.699308
1563,월계역,"서울특별시 노원구 초안산로2라길26 월계동(104,105,106호)",37.6295,127.0574
1564,광교갤러리아9F,경기도 수원시 영통구 광교호수공원로 320 (하동),37.2850653,127.0572660

In [121]:
df["지점"] = df["지점명"]
df.head(1)

,지점명,주소,위도,경도,지점
0,판교역,"경기도 성남시 분당구 대왕판교로606번길 58, 판교푸르지오월드마크 1층 (삼평동)",37.395911,127.113233,판교역

In [122]:
df['지점'] = df['지점'] + "점"

In [123]:
df.columns

Index(['지점명', '주소', '위도', '경도', '지점'], dtype='object')

In [124]:
cols = ['지점', '주소', '위도', '경도']

In [125]:
df = df[cols]
df

,지점,주소,위도,경도
0,판교역점,"경기도 성남시 분당구 대왕판교로606번길 58, 판교푸르지오월드마크 1층 (삼평동)",37.395911,127.113233
1,수서점,서울특별시 강남구 밤고개로1길 10 (수서동) 수서현대벤쳐빌 지하2층,37.48801132,127.1017508
2,송파마천사거리DT점,서울특별시 송파구 거마로 78 (마천동),37.499829,127.147672
3,그랜드조선 부산점,부산광역시 해운대구 해운대해변로 292 (중동),35.1600338,129.1630512
4,서울웨이브아트센터점,서울특별시 서초구 잠원로 145-35 (잠원동),37.518807,127.007040
...,...,...,...,...
1560,수원경수인계DT점,경기도 수원시 팔달구 경수대로 499 (인계동),37.270568,127.027566
1561,호계지식산업센터점,경기도 안양시 동안구 엘에스로 122 데시앙플렉스 118~123호,37.372351,126.948665
1562,안동이마트점,경상북도 안동시 옥동1길 2 (옥동),36.558505,128.699308
1563,월계역점,"서울특별시 노원구 초안산로2라길26 월계동(104,105,106호)",37.6295,127.0574
1564,광교갤러리아9F점,경기도 수원시 영통구 광교호수공원로 320 (하동),37.2850653,127.0572660